<!DOCTYPE html>
<html>
<head>
	<title>prueba de validacion</title>
</head>
<body>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>  
    <script>
        $(document).ready(function(){
            var test = {{ respuesta|json_encode|raw }};
            console.log(test);
        });
    </script>  
    
    <form id="myform">
        <label>nombre</label><input type="text" name="nombre"><br>
        <label>email</label><input type="email" name="email"><br>
        <input type="submit" name="aceptar" id="boton">
    </form>

    
</body>
</html>