<!DOCTYPE html>
<html>
<head>
	<title>prueba de validacion</title>
</head>
<body>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>  
    <script>
        $(document).ready(function(){
            $.ajax({
              type: "GET",
              url: "/proveedores",
              dataType: "json",
              async: false
            })
            .done(function(respuesta){
              window.arrayproveedores = respuesta.data;
            });
            
               // var option = $(this).find('option:selected').val();
                var opciones = "<option value='' selected='selected'>--seleccionar--</option>";
                window.arrayproveedores.forEach(function(item,index,arr){
                  //if(option == item.cod_comp.id){
                    opciones = opciones + "<option data-value='"+item.id+"'>"+item.nombre+"</option>";

                  //}
                });
                $("#ratasabia").html(opciones);
             // });
             $('#rzn').on('blur',function(){
                   console.log($(this).text());
                   console.log($('#ratasabia option:selected').attr('data-value'));
            });

        });


            // $(function() {
            //  $( "#tags" ).autocomplete({
            //             source: window.arrayproveedores,
            //             minLength:0
            //         }).bind('focus', function(){ $(this).autocomplete(" search"); } );
            //     });

    </script>  
    
    <div class="demo">
    <input type="button" id="boton" />
    <!-- <div class="ui-widget">
        <select id='ratasabia'></select> 
    </div> -->
    <input type="text" list="ratasabia" id='rzn' />
    <datalist id="ratasabia">
    </datalist>
    
</div>

    
</body>
</html>