<!DOCTYPE html>
<html>
<head>
	<title>prueba de validacion</title>
</head>
<body>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<!-- <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" ></script>

    <script>
        $(document).ready(function(){
            $.ajax({
              type: "GET",
              url: "/proveedores",
              dataType: "json",
              async: false
            })
            .done(function(respuesta){
              window.arrayproveedores = respuesta.data;
            });
           
            var source  = [ ];
            var mapping = { };
            for(var i = 0; i < window.arrayproveedores.length; ++i) {
                source.push(window.arrayproveedores[i].nombre);
                mapping[window.arrayproveedores[i].nombre] = window.arrayproveedores[i].id;
            }

            $('#tags').autocomplete({
                minLength: 3,
                source: source,

                select: function(event, ui) {
                    //$('.tags_id').text(mapping[ui.item.value]);
                    return alert(mapping[ui.item.value]);
                    
                }
            });
             $('div.ui-helper-hidden-accessible').remove();


        });


     

    </script>  
    
 
    
    <!-- <input id='browserinput' list="browsers"> -->

<input type="text" id="tags"><br>



    
</body>
</html>