BackendBundle\Entity\TblVentas:
    type: entity
    table: tbl_ventas
    indexes:
        FK_COMPROBANTE_idx:
            columns:
                - cod_comprobante
        FK_TIPO_COMP_idx:
            columns:
                - tipo_comprobante
        FK_CLIENTES_idx:
            columns:
                - cliente
        FK_EMPRESA_VENTA_idx:
            columns:
                - empresa
        FK_USER_VENTA_idx:
            columns:
                - usuario
    id:
        id:
            type: integer
            nullable: false
            options:
                unsigned: false
            id: true
            generator:
                strategy: IDENTITY
    fields:
        periodoMes:
            type: integer
            nullable: false
            options:
                unsigned: false
            column: periodo_mes
        periodoAno:
            type: integer
            nullable: false
            options:
                unsigned: false
            column: periodo_ano
        fecha:
            type: date
            nullable: false
        nroComprobante:
            type: string
            nullable: false
            length: 50
            options:
                fixed: false
            column: nro_comprobante
        neto105:
            type: decimal
            nullable: false
            precision: 10
            scale: 2
            column: neto_105
        neto21:
            type: decimal
            nullable: false
            precision: 10
            scale: 2
            column: neto_21
        netoExento:
            type: decimal
            nullable: false
            precision: 10
            scale: 2
            column: neto_exento
        iva105:
            type: decimal
            nullable: false
            precision: 10
            scale: 2
            column: iva_105
        iva21:
            type: decimal
            nullable: false
            precision: 10
            scale: 2
            column: iva_21
        retGan:
            type: decimal
            nullable: false
            precision: 10
            scale: 2
            column: ret_gan
        retencion:
            type: decimal
            nullable: false
            precision: 10
            scale: 2
        percepcion:
            type: decimal
            nullable: false
            precision: 10
            scale: 2
        total:
            type: decimal
            nullable: false
            precision: 10
            scale: 2
        fechaIngreso:
            type: date
            nullable: false
            column: fecha_ingreso
    manyToOne:
        cliente:
            targetEntity: TblProveedores
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                cliente:
                    referencedColumnName: id
            orphanRemoval: false
        codComprobante:
            targetEntity: TblComprobantes
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                cod_comprobante:
                    referencedColumnName: id
            orphanRemoval: false
        empresa:
            targetEntity: TblEmpresas
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                empresa:
                    referencedColumnName: id
            orphanRemoval: false
        tipoComprobante:
            targetEntity: TblTiposComp
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                tipo_comprobante:
                    referencedColumnName: id
            orphanRemoval: false
        usuario:
            targetEntity: User
            cascade: {  }
            fetch: LAZY
            mappedBy: null
            inversedBy: null
            joinColumns:
                usuario:
                    referencedColumnName: id
            orphanRemoval: false
    lifecycleCallbacks: {  }
