{% extends 'FrontendBundle::Compras/compras-listado.html.twig' %}
{% block botones %}
	<div class="text-center">
		<div class="col-xs-4">
			<button class="btn btn-default btn-block"> Volver</button>
		</div>
		<div class="col-xs-4">
			<button class="btn btn-primary btn-block" id="addVenta"><i class="fa fa-plus-circle" aria-hidden="true"> Agregar</i></button>
		</div>
		</div>
		<div class="col-xs-4">
			<button class="btn btn-primary btn-block">
				<i class="fa fa-pencil" aria-hidden="true"> Editar</i>
			</button>
		</div>
	</div>
{% endblock %}