{% extends 'FrontendBundle::Compras/compras-listado.html.twig' %}
{% block botones %}
	<div class="text-center">
		<div class="col-md-4 col-sm-12 col-xs-12">
			<button class="btn btn-default btn-block" onclick="goBack()"> Volver</button>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12">
			<button class="btn btn-primary btn-block" id="addCompra"><i class="fa fa-plus-circle" aria-hidden="true"> Agregar</i></button>
		</div>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12">
			<button class="btn btn-primary btn-block" id="editCompra"><i class="fa fa-pencil" aria-hidden="true"> Editar</i></button>
		</div>
	</div>
{% endblock %}